h1 {
    text-align: center;
    font-style: bold;
    background: linear-gradient(#ED0A3F, #1CAC78, #0066FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
 
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background: #f8f8ff;
    color: #252525;
}

header {
    text-align: center;
    text-transform: uppercase;
    padding: 32px;
    background-color: #001F3F;
    color: #f8f8ff;
    border-bottom: 4px solid #F04E98;
}

img {
    width: 400px;
    height: 400px;
    border-radius: 20px;
    margin: 50px 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}


@media (max-width: 1024px) {
    .container {
        grid-template-columns: repeat(2, 1fr); /* 2 columns for medium screens */
    }
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr; /* 1 column for small screens */
    }
}

footer {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding: 20px 50px;
}
